<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Naming Contests</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" media="screen">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="header">
<!-- <img src="http://icons.iconarchive.com/icons/elegantthemes/beautiful-flat/72/cloud-icon.png" alt="lightbulb icon" width="60" height="60"> -->

<a href="#id01"><button class="break">Break</button></a>

<div id="id01" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
     <!--  <header class="modalcontainer"> -->
        <a href="#" class="closebtn">×</a>

      </header>
      <div class="modalcontainer" id="social_media">
        <a target="_blank" href="https://www.facebook.com/" class="fa fa-facebook fa-3x"></a>
        <a target="_blank" href="https://twitter.com/" class="fa fa-twitter fa-3x"></a>
        <a target="_blank" href="https://www.google.com/" class="fa fa-google fa-3x"></a>
        <a target="_blank" href="https://www.linkedin.com/" class="fa fa-linkedin fa-3x"></a>
        <a target="_blank" href="https://www.youtube.com/" class="fa fa-youtube fa-3x"></a>
        <a target="_blank" href="https://www.instagram.com/" class="fa fa-instagram fa-3x"></a>
        <a target="_blank" href="https://www.reddit.com/" class="fa fa-reddit fa-3x"></a>

        <!-- -->





      </div>
      <footer class="modalcontainer">
        <p></p>
      </footer>
    </div>
  </div>
</div>
</div>
<div class="modalcontainer">

 <b><%= content %></b>
  <%- beep %>

